footer.bg-dark.text-light.text-center.py-3.mt-5
  p.mb-0 Developed by Zedan Mohamed
  .social-icons.mt-2
    a.text-light.mx-2(href='https://twitter.com/zedanmohamed99' target='_blank') X/Twitter
    a.text-light.mx-2(href='https://github.com/zedann' target='_blank') Github
    a.text-light.mx-2(href='https://www.linkedin.com/in/zedan-mohamed-9ba98b21a/' target='_blank') LinkedIn
    
