nav.navbar.navbar-expand-lg.bg-body-tertiary(dir='rtl')
  .container-fluid
    a.navbar-brand(href='/') 
      img(src="/imgs/view/logo.svg", width="80"  )
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.row
      ul.navbar-nav.col-8
        li.nav-item
          a.nav-link.active(aria-current='page' href='/') &#x627;&#x644;&#x635;&#x641;&#x62D;&#x629; &#x627;&#x644;&#x631;&#x627;&#x626;&#x64A;&#x633;&#x64A;&#x629;
        li.nav-item
          a.nav-link(href='/tasks') &#x627;&#x644;&#x648;&#x627;&#x62C;&#x628;
        li.nav-item
          a.nav-link(href='#') &#x627;&#x644;&#x623;&#x62D;&#x62F;&#x627;&#x62B; &#x627;&#x644;&#x642;&#x627;&#x62F;&#x645;&#x629;
      ul.navbar-nav.col-4
        li.nav-item
          a.nav-link.text-primary(href='/login') &#x62A;&#x633;&#x62C;&#x64A;&#x644; &#x627;&#x644;&#x62F;&#x62E;&#x648;&#x644;
        li.nav-item
          a.nav-link.text-danger(href='/register') &#x62A;&#x633;&#x62C;&#x64A;&#x644; &#x637;&#x627;&#x644;&#x628; &#x62C;&#x62F;&#x64A;&#x62F;
